[Desktop Entry]
Exec=kcmshell4 kcmgrub2
Icon=system-reboot
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=kcmgrub2/kcmgrub2.py
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Bootloader configuration
Name[ca]=Configuració del gestor d'arrencada
Name[da]=Konfiguration af bootloader
Name[de]=Systemstarteinstellungen
Name[es]=Configuración del cargador de arranque
Name[et]=Alglaaduri seadistamine
Name[fr]=Configuration du chargeur d'amorçage
Name[hr]=Konfiguracija programa punilaca
Name[hu]=Rendszerbetöltő-beállítás
Name[it]=Configurazione del bootloader
Name[lt]=Įkrovos tvarkyklės konfigūracija
Name[nds]=Systeemstarter instellen
Name[nl]=Configuratie van de bootloader
Name[pl]=Konfiguracja programu rozruchowego
Name[pt]=Configuração do gestor de arranque
Name[pt_BR]=Configuração do gerenciador de inicialização
Name[ru]=Настройка Grub2
Name[sv]=Inställning av startprogram
Name[uk]=Налаштування завантажувача
Name[x-test]=xxBootloader configurationxx
Comment=Grub2 configuration tool
Comment[ca]=Eina de configuració de Grub2
Comment[cs]=Konfigurační nástroj pro Grub2
Comment[da]=Konfigurationsværktøj til Grub2
Comment[de]=Einrichtungswerkzeug für Grub2
Comment[es]=Herramienta de configuración de Grub2
Comment[et]=Grub2 seadistamise tööriist
Comment[fr]=Outil de configuration de Grub2
Comment[hr]=Konfiguracijski alat za Grub2
Comment[hu]=GRUB2 beállítóeszköz
Comment[it]=Strumento di configurazione di Grub2
Comment[lt]=Grub konfigūravimo įrankis
Comment[nds]=Instellenprogramm för Grub2
Comment[nl]=Grub2 configuratiehulpmiddel
Comment[pl]=Narzędzie konfiguracyjne dla Grub2
Comment[pt]=Ferramenta de configuração do Grub2
Comment[pt_BR]=Ferramenta de configuração do Grub2
Comment[ru]=Инструмент для настройки Grub2
Comment[sv]=Inställningsverktyg för Grub2
Comment[uk]=Програма для налаштовування Grub2
Comment[x-test]=xxGrub2 configuration toolxx
X-KDE-Keywords=Grub2 Manager
X-KDE-Keywords[da]=Håndtering af Grub2
X-KDE-Keywords[de]=Grub2-Manager
X-KDE-Keywords[es]=Gestor de Grub2
X-KDE-Keywords[hu]=GRUB2 kezelő
X-KDE-Keywords[nl]=Grub2-beheerder
X-KDE-Keywords[pl]=Menadżer Grub2
X-KDE-Keywords[pt]=Gestor do Grub2
X-KDE-Keywords[pt_BR]=Gerenciador Grub2
X-KDE-Keywords[sv]=Grub2-hanterare
X-KDE-Keywords[uk]=керування,Grub2
X-KDE-Keywords[x-test]=xxGrub2 Managerxx

