[Desktop Entry]
Exec=kcmshell4 kcmgrub2
Icon=system-reboot
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=kcmgrub2/kcmgrub2.py
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=startup-and-shutdown

Name=Bootloader configuration
Comment=Grub2 configuration tool
X-KDE-Keywords=Grub2 Manager

